:root {
	--font-color: #000000;
	--bg-color: #F3F3F3;
	--link-color: #0000EE;
	--link-visited-color: #551A8B;
	--link-active-color: #EE0000;
	--table-border-color: #000000;
}
[data-theme="dark"] {
	--font-color: #FFFFFF;
	--bg-color: #000000;
	--link-color: #9F9FEE;
	--link-visited-color: #FF1AFF;
	--link-active-color: #EE7F7F;
	--table-border-color: #7F7F7F;
}

body {
	overflow : scroll;
	background : var(--bg-color);
	color : var(--font-color);
}

/* desktop chrome inputs have white background black font.  mobile chrome inputs have clear background black font. */
input {
	background : var(--bg-color);
	color : var(--font-color);
}

a:link {
	color : var(--link-color);
}
a:visited {
	color : var(--link-visited-color);
}
a:active {
	color : var(--link-active-color);
}

table, tbody, th, td {
	border : 1px solid var(--table-border-color);
	border-collapse : collapse;
}
