textarea, pre {
	-moz-tab-size : 4;
	-o-tab-size : 4;
	tab-size : 4;
}

.menubar {
	width : 100%
	position : -webkit-sticky;
	position : sticky;
	left : 0px;
	top : 0px;
	background: white;
}

.worksheetDiv {
	padding: 10px;
	margin: auto;
}

.addNewCellButton {
	cursor : vertical-text;
	padding : 10px 0px 10px 0px;
}

.ctrlDiv {
}

.rhsCtrlDiv {
	display : inline;
	float : right;
}

.ioDiv {
	width : 100%;
	border-right: 1px solid black;
	padding-right: 3px;
}

.inputTextArea {
	width : 100%;
	border : 0px;
	border-right: 1px solid black;
}

.outputDiv {
	margin-top: 5px;
	border-right: 1px solid black;
	/*padding: 10px;*/
}
